*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	/* background-color:rgba(205, 140, 43, 0.5); */
	background-image:url(../images/2.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	backdrop-filter:blur(4px);
}

.cup{
	width:190px;
	height:170px;
	background-image:url(../images/coffee.png);
	background-size:cover;
	background-repeat:repeat-x;
	border:5px solid transparent;
	border-radius: 0 0 60px 60px;
	box-shadow:0 0 0 8px white;
	position:relative;
	animation:cup 3s infinite linear;
}

@keyframes cup{
	0%{
		background-position:0px 100px;
	}
	
	10%{
		background-position:-90px 90px;
	}
	
	20%{
		background-position:-100px 80px;
	}
	
	30%{
		background-position:-200px 70px;
	}
	
	40%{
		background-position:-300px 60px;
	}
	
	50%{
		background-position:-400px 50px;
	}
	
	60%{
		background-position:-500px 40px;
	}
	
	70%{
		background-position:-600px 30px;
	}
	
	80%{
		background-position:-700px 20px;
	}
	
	90%{
		background-position:-800px 10px;
	}
	
	100%{
		background-position:-900px 0px;
	}
}

.handle{
	width:80px;
	height:80px;
	background-color:transparent;
	border:5px solid white;
	border-radius:0 25px 80px 0;
	box-shadow:0 0 0 4px white;
	position:absolute;
	right:-100px;
	top:-7px;
}